PORT=3000
NODE_ENV=dev
ACCESS_TOKEN_JWT_SECRET=accesstokensecret
REFRESH_TOKEN_JWT_SECRET=refreshtokensecret
DATABASE_URL="postgresql://filmflow:password@localhost:5432/filmflow?schema=public"

# Google Cloud Console
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=